@model VehicleModel

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    ViewData["Title"] = "Create new vehicle";
}

<h1>Add new vehicle</h1>
<hr />

<form asp-action="Create">
    <div class="row">
        <partial name="_formFields" model="Model" />

        <div class="mb-3">
            <button type="submit" value="create" class="btn btn-primary mb-3">Add</button>
        </div>
    </div>
</form>